.img-excel {
    background-image: url(../images/excel.jpg);
    background-repeat: no-repeat;
    text-decoration:none ;
    
}


.img-first {
    background-image: url(../images/firstBlue.gif);
    background-repeat: no-repeat;
    text-decoration:none ;
        
}

.img-last {
    background-image: url(../images/lastBlue.gif);
    background-repeat: no-repeat;
    text-decoration:none ;
 
 
}

.img-prev {
    background-image: url(../images/prevBlue.gif);
    background-repeat: no-repeat;
    text-decoration:none ;
 
}

.img-next {
    background-image: url(../images/nextBlue.gif);
    background-repeat: no-repeat;
    text-decoration:none ;

}

.pageMenu {
	text-align:center;
	background:#F0F6FD;/*#DEDEDD;*/
	border-left: 1px solid #006699;
	border-right: 1px solid #006699;
	
}

.pagelinks {
	width:100%;
	text-align:center;
	color: #4384FF;
	font: bold 11px Verdana,Tahoma,Arial,sans-serif;
	text-decoration:none;
	
	
}

.busquedaSinResultado {
	font:bold 11px Verdana,Tahoma,Arial,sans-serif;	
	color:#006699;
	width: 1000;
	display:block;
	border-left: 1px solid #006699;
	border-right: 1px solid #006699;
	padding:0px 0px 5px 0px;
}