<#assign s=JspTaglibs["/WEB-INF/tlds/struts-tags.tld"]>
<#assign vc=JspTaglibs["/WEB-INF/tlds/view-controls.tld"]>

<div id="capaBotonera" class="capaBotonera">
	<table id="tablaBotonera" class="tablaBotonera">
		<tr> 
			<td align="right">
				<input id="cancelar" type="button" name="btnCancelar" value="Cancelar" class="boton"/>
				<input id="modificar" type="button" name="btnModificar" value="Modificar" class="boton"/>
			</td>
		</tr>	
	</table>
</div>


<@vc.htmlContent 
  baseUrl="${request.contextPath}/maestro/carteleria/updateCarteleriaCodigoPostal.action" 
  source="modificar" 
  success="contentTrx" 
  failure="errorTrx"  
  parameters="carteleriaCodigoPostal.oid={carteleriaCodigoPostal.oid},carteleriaCodigoPostal.carteleria.oid={carteleriaCodigoPostal.carteleria.oid},carteleriaCodigoPostal.kmCiudad={carteleriaCodigoPostal.kmCiudad},carteleriaCodigoPostal.puntoCardinal={carteleriaCodigoPostal.puntoCardinal},carteleriaCodigoPostal.codigoPostal.pk.identificador={carteleriaCodigoPostal.codigoPostal.pk.identificador},carteleriaCodigoPostal.codigoPostal.pk.secuencia={carteleriaCodigoPostal.codigoPostal.pk.secuencia}"/>
  
<@vc.htmlContent 
  baseUrl="${request.contextPath}/compras/flowControl.action"  
  source="cancelar" 
  success="contentTrx" 
  failure="errorTrx"  
  parameters="navigationId=${navegacionIdBack},flowControl=back"/>

