<td class="textoCampo">Cliente:</td>
<td class="textoDato">
<@s.hidden id="factura.cliente.oid" name="factura.cliente.oid"/>
<@s.hidden id="factura.cliente.descripcion" name="factura.cliente.descripcion"/>
<@s.hidden id="factura.cliente.oid" name="factura.cliente.oid"/>
<@s.property default="&nbsp;" escape=false value="factura.cliente.descripcion"/>
</td>				
