
<td class="textoCampo">Cliente:</td>
<td class="textoDato">
<@s.hidden id="fsc_fss.cliente.oid" name="fsc_fss.cliente.oid"/>
<@s.hidden id="fsc_fss.cliente.descripcion" name="fsc_fss.cliente.descripcion"/>
<@s.property default="&nbsp;" escape=false value="fsc_fss.cliente.descripcion"/>								
	<@s.a templateDir="custontemplates" id="seleccionarCliente" name="seleccionarCliente" href="javascript://nop/" cssClass="ocultarIcono">
		<img src="${request.contextPath}/common/images/buscar.gif" border="0" align="absmiddle" hspace="3" >
	</@s.a>		
</td>						
