<td class="textoCampo">Cliente:</td>
<td class="textoDato">
<@s.hidden id="fsc_fss.cliente.oid" name="fsc_fss.cliente.oid"/>
<@s.property default="&nbsp;" escape=false value="fsc_fss.cliente.descripcion"/>
</td>				
