<td class="textoCampo">Cliente:</td>
<td class="textoDato">
<@s.hidden id="recepcionProductoBien.cliente.oid" name="recepcionProductoBien.cliente.oid"/>
<@s.hidden id="recepcionProductoBien.cliente.descripcion" name="recepcionProductoBien.cliente.descripcion"/>
<@s.hidden id="recepcionProductoBien.cliente.oid" name="recepcionProductoBien.cliente.oid"/>
<@s.property default="&nbsp;" escape=false value="recepcionProductoBien.cliente.descripcion"/>
</td>				
