
<td class="textoCampo">Cliente:</td>
<td class="textoDato">
<@s.hidden id="recepcionProductoBien.cliente.oid" name="recepcionProductoBien.cliente.oid"/>
<@s.hidden id="recepcionProductoBien.cliente.descripcion" name="recepcionProductoBien.cliente.descripcion"/>
<@s.property default="&nbsp;" escape=false value="recepcionProductoBien.cliente.descripcion" />					
<@s.a templateDir="custontemplates" id="seleccionarCliente" name="seleccionarCliente" href="javascript://nop/" cssClass="ocultarIcono">
		<img src="${request.contextPath}/common/images/buscar.gif"  border="0" align="absmiddle" hspace="3" >
</@s.a>		&nbsp;

</td>